<div class="question_form_intro">Do you have a photo-related question? Ask it here and get feedback from other rockin' photographers. Be sure to upload a photo with your question. </div>
<div class="question_form">
  <%= form_tag({ :action => :create, :controller => :questions }, :multipart => true) do %>
    <%= text_field_tag :title, nil, placeholder: "Enter question", :class => "question_field" %>
    <%= file_field_tag :file, :class => "question_file" %>
    <br><%= text_area_tag :content, nil , rows: 4 , cols: 45, placeholder: 'Add add"l info here!'  %>
    <%= submit_tag("Upload") %>
  <% end %>
</div>
