<div class="single_container">
<div class="single_question">
  <ul id='voting-panel'>
    <%= render partial: 'shared/voting', locals: { votable: @question } %>
  </ul>
  <span class="title">
    <h1> <%= @question.title %> </h1>
    <h3> Asked by: <%= @question.user.username %></h3>
  </span>
</div>
<div class="single_photo_upload">
  <p><img src="<%= @question.path || @question.file%>"></p>
</div>
<div class="description">
  <p><%= @question.content %></p>
</div>

<%= render partial: 'comments/new', locals: { commentable: @question } %>

<div class="answer_form">
  <h3>Add an answer</h3>
  <%= render "answers/new" %>
</div>

<% @question.answers.each do |answer| %>
  <%= render partial: 'answers/answer', locals: { answer: answer } %>
<% end %>
