<ul id='voting-panel'>
  <%= render partial: 'shared/voting', locals: { votable: answer } %>
</ul>

<div class="first_line_all_answers"></div>
  <div class="answer_upload">
  <img src="<%= answer.path || answer.file  %>">
  <p>Answered by: <%= answer.user.username %></p>
  <p><%= answer.content %></p>
</div>

<% answer.comments.each do |comment| %>
  <%= render partial: 'comments/comment', locals: { comment: comment } %>
<% end %>

<%= render partial: 'comments/new', locals: { commentable: answer } %>
